﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="ath">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <div ng-controller="pizzaController as pizza">
        <input ng-model="pizza.filter" class="form-control" />
        <div ng-repeat="pizza in pizza.data | filter : pizza.filter" class="row well">
            <div class="col-md-3">
                <img ng-src="/Content/{{::pizza.ImageUrl}}" />
            </div>
            <div class="col-md-9">
                <h1>{{::pizza.Name}}</h1>
                {{::pizza.Description}}
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/app/app.js"></script>
    <script src="~/Scripts/app/pizzaController.js"></script>
    <script src="~/Scripts/app/pizzaService.js"></script>
</body>
</html>
